:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #42b883;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.task-section {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
}

.task-section__task {
  height: 10vh;
  width: 10vw;
  border: #42b883 1px solid;
  border-radius: 20px;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-section__button {
  height: 4.5vh;
  width: 7vw;
  margin-top: 2vh;
}

.task-section__text {
  cursor: pointer;
  height: 5vh;
}

.task-section__title {
  font-size: 1rem;
}

.task-section__desc {
  opacity: 50%;
  font-size: 0.5rem;
}


